.dashboard-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 280px; /* Chiều rộng của sidebar */
  width: calc(100% - 280px);
  background-color: #f9fafb;
} 